@import url('https://fonts.googleapis.com/css?family=Anton|Overpass+Mono:600&display=swap');

/* Variables */
$sm: 40em;
$md: 60em;
$sm-h: 30em;

$font-heading: "Anton", sans-serif;
$font-body: "Overpass Mono", monospace;

$primary: #ffa700;
$background: #f8f9fa;
$text: #222;

/* Mixins and functions */
@function rem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
	width: 100%;
	height: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Typography */
body {
	font-family: $font-body;
	background: $background;
}

h1,
h2,
h3 {
  font-family: $font-heading;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

h1 {
	font-size: rem(48px);
	
	@media (min-width: $sm) {
		font-size: rem(80px);
	}
	
	@media (min-width: $md) {
		font-size: rem(110px);
	}
}

h2 {
  font-size: rem(20px);
	letter-spacing: 0.03em;
	line-height: 1.5;
  margin: 0;
	
	@media (min-width: $sm) {
    font-size: rem(40px);
  }

  @media (min-width: $md) {
    font-size: rem(60px);
  }
}

a {
  color: inherit;
}